<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBx9MhsRMDjmgY45MNzq25JwYZLwbiUipM</string>
	<key>GCM_SENDER_ID</key>
	<string>598659886914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.first</string>
	<key>PROJECT_ID</key>
	<string>tasklist-b87c1</string>
	<key>STORAGE_BUCKET</key>
	<string>tasklist-b87c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598659886914:ios:45b911be8dd1e60880a2db</string>
</dict>
</plist>